{
    "workflows": [
        {
            "file": "swin2SR-realworld-sr-x4-64-bsrgan-psnr_ov_config.json",
            "templateName": "swin2SR-realworld-sr-x4-64-bsrgan-psnr_ov_config"
        }
    ],
    "modelInfo": {
        "id": "huggingface/caidas/swin2SR-realworld-sr-x4-64-bsrgan-psnr",
        "version": 1
    }
}
