# follow https://github.com/CodeLinaro/GPTQModel/blob/rel_4.2.5/requirements.txt except for torch
# uvpip:install git+https://github.com/CodeLinaro/GPTQModel.git@64231a266cc70c5597fe97f26e7ec5ccda660c37 --no-build-isolation;post;{"BUILD_CUDA_EXT":"0"}
# download:fast_hadamard_transform-1.0.4.post1-cp312-cp312-win_amd64.whl
./fast_hadamard_transform-1.0.4.post1-cp312-cp312-win_amd64.whl
accelerate==1.10.1
device-smi==0.4.1
hf_transfer==0.1.9
huggingface_hub==0.34.4
logbar==0.0.4
maturin==1.9.3
numpy==2.2.6
packaging==24.2
pillow==12.1.1
protobuf==6.32.0
random_word==1.0.13
safetensors==0.6.2
threadpoolctl==3.6.0
tokenicer==0.0.5
transformers==4.56.0
wheel==0.46.2
