coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
mpmath==1.3.0
numpy==2.2.4
# uvpip:uninstall onnxruntime-winml;pre
# We also need to uninstall in case user tries new version, uses previous version and then updates again
# because uninstalling winml will remove onnxruntime folder but we will not install windowsml to add it back
# uvpip:uninstall onnxruntime-windowsml;pre
onnxruntime-windowsml==1.23.2.202512041916
packaging==24.2
protobuf==5.29.6
pyreadline3==3.5.4
sympy==1.14.0
wasdk-Microsoft.Windows.AI.MachineLearning==1.8.251106002
wasdk-Microsoft.Windows.ApplicationModel.DynamicDependency.Bootstrap==1.8.251106002
# winrt-runtime==3.2.1
winrt-runtime==3.2.1
# winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation==3.2.1
# winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
# not in requires
